body {
    /* background-image: url("../images/11572307115_1194957269_o.jpg"); */
}


.background-image {
    background-image: url("../images/11572307115_1194957269_o.jpg");
}


.outer-opacity-filter {
    background: rgba(0, 0, 0, 0.8);
}

.jumbotron
{
    background-color: rgba(19, 39, 120, 0.32);
    padding: 10px 10px 10px 10px;
}

.img-header {
    border: 0;
    padding: 10px 10px 10px 10px;
    margin-top: -10px;
    text-transform: uppercase;
    vertical-align: middle;
    display: block;
    max-width: 100% !important;
    height: 300px;
    width: 100%;
    background-repeat:no-repeat;
    background-position: top center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

h2,h3,h4
{
    font-weight:100;
    fill-opacity: .5;
    letter-spacing: .4rem;
    font-family: 'Raleway', Andy,Brush Script MT,Trebuchet MS,Tahoma,Lucida Grande,Lucida Sans Unicode,Lucida Sans,sans-serif;
}

.form-group
{
    font-weight:100;
    fill-opacity: .5;
    letter-spacing: .4rem;
    font-family: 'Raleway', sans-serif;
}
